Repository climatechangemakers/climate-changemakers-act: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate-production-database, update-members-of-congress-dry-run, update-members-of-congress, update-district-offices-dry-run, update-district-offices, deploy-cloudformation-network

migrate-production-database:
  stage: deploy-infrastructure
  image:
    name: flyway/flyway:8.2.2-alpine
    entrypoint:
    - ''
  script:
  - mkdir -p backend/build/resources/main/migrations/
  - cp backend/src/main/sqldelight/migrations/*.sqm backend/build/resources/main/migrations/
  ...

update-members-of-congress-dry-run:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-members-of-congress
  script:
  ...

update-members-of-congress:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-members-of-congress
  script:
  ...

update-district-offices-dry-run:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-district-offices
  script:
  - parse-congress-info.kexe -t district-offices -d congress/legislators-district-offices.json district-offices.sql
  artifacts:
    paths:
    - district-offices.sql

update-district-offices:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-district-offices
  script:
  - parse-congress-info.kexe -t district-offices -d congress/legislators-district-offices.json district-offices.sql
  - psql -f district-offices.sql
  artifacts:
    paths:
  ...

deploy-cloudformation-network:
  stage: deploy-infrastructure
  resource_group: deploy-infrastructure
  image:
    name: amazon/aws-cli:2.4.14
    entrypoint:
    - ''
  script:
  - aws cloudformation deploy --template-file cloudformation/public-vpc.yml --stack-name networking-public-vpc

Migrate database to remove AirTable and Mailchimp (#355)
  backend/src/main/kotlin/org/climatechangemakers/act/common/util/Util.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/ActionTrackerManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManager.kt
  backend/src/main/sqldelight/migrations/V12__remove_mailchimp_airtable.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ActionInitiate.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ActionSignUp.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/FakeActionTrackerManager.kt
Due: migrate-production-database

Upgrade to Ktor 2.1.2
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/Application.kt
  backend/src/main/kotlin/org/climatechangemakers/act/common/extension/ApplicationCallExtensions.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/controller/ActionController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/routing/ActionRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/manager/NetworkCommunicateWithCongressManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/controller/IssueListController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/routing/IssueRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/values/controller/ValuesController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/values/routing/ValuesRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/ExceptionHandler.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Serialization.kt
Due: none

Upgrade to Ktor 2.1.2 (#357)
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/Application.kt
  backend/src/main/kotlin/org/climatechangemakers/act/common/extension/ApplicationCallExtensions.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/controller/ActionController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/routing/ActionRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/manager/NetworkCommunicateWithCongressManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/controller/IssueListController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/routing/IssueRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/values/controller/ValuesController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/values/routing/ValuesRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/ExceptionHandler.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Serialization.kt
Due: none

Update Congress
  congress/legislators-current.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Update Congress (#359)
  congress/legislators-current.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Stub out basic HTTP authentication
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/Application.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/authentication/ContentManagementAuthentication.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
Due: none

Stub out basic HTTP authentication (#361)
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/Application.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/authentication/ContentManagementAuthentication.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
Due: none

Verify user credentials for authenticated routes
  backend/src/main/kotlin/org/climatechangemakers/act/Application.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/authentication/ContentManagementAuthentication.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/DatabaseUserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/UserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/plugin/ContentManagementAuthentication.kt
  backend/src/main/sqldelight/migrations/V13__add_cms_user_auth.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ContentManagementUser.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/DatabaseUserVerificationManagerTest.kt
Due: migrate-production-database

Use bcrypt
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/DatabaseUserVerificationManager.kt
  backend/src/main/sqldelight/migrations/V13__add_cms_user_auth.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ContentManagementUser.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/DatabaseUserVerificationManagerTest.kt
Due: migrate-production-database

Verify user credentials for authenticated routes (#362)
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/Application.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/authentication/ContentManagementAuthentication.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/DatabaseUserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/UserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/plugin/ContentManagementAuthentication.kt
  backend/src/main/sqldelight/migrations/V13__add_cms_user_auth.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ContentManagementUser.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/DatabaseUserVerificationManagerTest.kt
Due: migrate-production-database

Move `Bill` and `BillType` to `bill` package
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/BillType.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/Message.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/serialization/CommunicatingWithCongressBillSerializer.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/CommunicateWithCongressSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/MessageSerializationTest.kt
Due: none

Remove invalid bill types
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/BillType.kt
Due: none

Add table definition and migration
  backend/src/main/kotlin/org/climatechangemakers/act/di/DatabaseModule.kt
  backend/src/main/sqldelight/migrations/V14__add_congress_bill.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
Due: migrate-production-database

Save a new bill
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/controller/BillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/BillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/routing/BillRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/route.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/serialization/CommunicatingWithCongressBillSerializer.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/ExceptionHandler.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/migrations/V14__add_congress_bill.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/TestContainerProvider.kt
Due: migrate-production-database

Fixup
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/ExceptionHandler.kt
  backend/src/main/sqldelight/migrations/V14__add_congress_bill.sqm
Due: migrate-production-database

Add `congress_bill` to database schema (#363)
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/DatabaseModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/controller/BillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/BillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/BillType.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/routing/BillRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/route.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/Bill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/Message.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/serialization/CommunicatingWithCongressBillSerializer.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/ExceptionHandler.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/migrations/V14__add_congress_bill.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/CommunicateWithCongressSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/MessageSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/TestContainerProvider.kt
Due: migrate-production-database

Add `congress_bill.url`
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/sqldelight/migrations/V15__add_bill_url.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/CommunicateWithCongressSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/MessageSerializationTest.kt
Due: migrate-production-database

Add `congress_bill.url` (#364)
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/sqldelight/migrations/V15__add_bill_url.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/bill/manager/DatabaseBillManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/CommunicateWithCongressSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/MessageSerializationTest.kt
Due: migrate-production-database

Add syntax highlighting for *.sq and *.sqm
  .gitattributes
Due: none

Add syntax highlighting for *.sq and *.sqm (#365)
  .gitattributes
Due: none

Draw clear boundaries between CMS and action
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/BillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/routing/BillRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementBillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/auth/DatabaseUserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/auth/UserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/ContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/plugin/ContentManagementAuthentication.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/auth/DatabaseUserVerificationManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseBillManagerTest.kt
Due: none

Draw clear boundaries between CMS and action (#366)
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/manager/BillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/routing/BillRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementBillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/auth/DatabaseUserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/auth/UserVerificationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/ContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/plugin/ContentManagementAuthentication.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/auth/DatabaseUserVerificationManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseBillManagerTest.kt
Due: none

List all bills within CMS
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/BillType.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementBillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/ContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/bill/CreateBill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/CommunicateWithCongressSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/MessageSerializationTest.kt
Due: none

List all bills within CMS (#367)
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/BillType.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementBillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/ContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/bill/CreateBill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/BillSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/CommunicateWithCongressSerializationTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/communicatewithcongress/model/MessageSerializationTest.kt
Due: none

Add update Bill endpoint
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementBillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/ContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManagerTest.kt
Due: none

Add update Bill endpoint (#368)
  backend/src/main/kotlin/org/climatechangemakers/act/feature/bill/model/Bill.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementBillController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/ContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBill.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManagerTest.kt
Due: none

Introduce ContentManagementIssue
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementIssueController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/ContentManagementIssue.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/IssueAndFocus.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManagerTest.kt
Due: none

Introduce ContentManagementIssue (#369)
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementIssueController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/ContentManagementIssue.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/IssueAndFocus.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManagerTest.kt
Due: none

Expose CMS update issue route
  backend/src/main/kotlin/org/climatechangemakers/act/common/extension/QueryExtensions.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementIssueController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/FocusIssue.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/Issue.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/IssueAndFocus.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManagerTest.kt
Due: none

Expose CMS update issue route (#370)
  backend/src/main/kotlin/org/climatechangemakers/act/common/extension/QueryExtensions.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementIssueController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/bill/DatabaseContentManagementBillManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/FocusIssue.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/Issue.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/IssueAndFocus.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManagerTest.kt
Due: none

Expose create Issue endpoint
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementIssueController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/CreateIssue.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/Issue.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManagerTest.kt
Due: none

Expose create Issue endpoint (#371)
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementIssueController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/CreateIssue.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/Issue.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementIssueManagerTest.kt
Due: none

Get CMS Talking Points for an Issue
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementTalkingPointsController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/ContentManagementTalkingPoint.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/TalkingPoint.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Get CMS Talking Points for an Issue (#372)
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementTalkingPointsController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/ContentManagementTalkingPoint.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/TalkingPoint.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Add issue talking point update endpoint
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementTalkingPointsController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/ContentManagementTalkingPoint.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/TalkingPoint.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Add issue talking point update endpoint (#373)
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/ContentManagementTalkingPointsController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/ContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/model/issue/ContentManagementTalkingPoint.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/TalkingPoint.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseContentManagementTalkingPointsManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Add endpoint to get issue bills
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/controller/IssueAndBillAssociationController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseIssueAndBillAssociationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/IssueAndBillAssociationManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementApiRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/cms/routing/ContentManagementRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/main/sqldelight/migrations/V16__add_issue_and_bill_m2m.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/CongressBillAndIssue.sq
Due: migrate-production-database

Add tests
  backend/src/test/kotlin/org/climatechangemakers/act/feature/cms/manager/issue/DatabaseIssueAndBillManagerTest.kt
Due: none

Path conditions:
  migrate-production-database: any of: backend/src/main/sqldelight/migrations/*.sqm
  update-members-of-congress-dry-run: any of: congress/legislators-current.json, congress/legislators-social-media.json, congress/active-offices.json
  update-members-of-congress: any of: congress/legislators-current.json, congress/legislators-social-media.json, congress/active-offices.json
  update-district-offices-dry-run: any of: congress/legislators-district-offices.json
  update-district-offices: any of: congress/legislators-district-offices.json
  deploy-cloudformation-network: any of: cloudformation/public-vpc.yml
