Repository climatechangemakers/climate-changemakers-act: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate-production-database, update-members-of-congress-dry-run, update-members-of-congress, update-district-offices-dry-run, update-district-offices, deploy-cloudformation-network

migrate-production-database:
  stage: deploy-infrastructure
  image:
    name: flyway/flyway:8.2.2-alpine
    entrypoint:
    - ''
  script:
  - mkdir -p backend/build/resources/main/migrations/
  - cp backend/src/main/sqldelight/migrations/*.sqm backend/build/resources/main/migrations/
  ...

update-members-of-congress-dry-run:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-members-of-congress
  script:
  ...

update-members-of-congress:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-members-of-congress
  script:
  ...

update-district-offices-dry-run:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-district-offices
  script:
  - parse-congress-info.kexe -t district-offices -d congress/legislators-district-offices.json district-offices.sql
  artifacts:
    paths:
    - district-offices.sql

update-district-offices:
  image: registry.gitlab.com/climatechangemakers/parse-congress-info:e10d216e
  stage: deploy-district-offices
  script:
  - parse-congress-info.kexe -t district-offices -d congress/legislators-district-offices.json district-offices.sql
  - psql -f district-offices.sql
  artifacts:
    paths:
  ...

deploy-cloudformation-network:
  stage: deploy-infrastructure
  resource_group: deploy-infrastructure
  image:
    name: amazon/aws-cli:2.4.14
    entrypoint:
    - ''
  script:
  - aws cloudformation deploy --template-file cloudformation/public-vpc.yml --stack-name networking-public-vpc

Add `member_of_congress.term_end` column
  backend/src/main/sqldelight/migrations/V9__add_MoC_term_end.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/MemberOfCongress.sq
Due: migrate-production-database

Add `member_of_congress.term_end` column (#332)
  backend/src/main/sqldelight/migrations/V9__add_MoC_term_end.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/MemberOfCongress.sq
Due: migrate-production-database

Populate `member_of_congress.term_end`
  .gitlab-ci.yml
  congress/legislators-current.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Populate `member_of_congress.term_end` (#333)
  .gitlab-ci.yml
  congress/legislators-current.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Update to Kotlin 1.6.21
  backend/gradle/libs.versions.toml
Due: none

Update to Kotlin 1.6.21 (#335)
  backend/gradle/libs.versions.toml
Due: none

Pretty print active office JSON
  congress/active-offices.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Include Senator Barrasso in CWC
  congress/active-offices.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Include Senator Barrasso in CWC (#336)
  congress/active-offices.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Update to SQLDelight 2.0-alpha02
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/common/columnadapter/StringEnumColumnAdapter.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/DatabaseModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManager.kt
  backend/src/main/sqldelight/migrations/V10__restructure_issue_and_focus.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/FocusIssue.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/LcvLifetimeScore.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/LcvYearScore.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/TestContainerProvider.kt
Due: migrate-production-database

Update to SQLDelight 2.0-alpha02 (#337)
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/common/columnadapter/StringEnumColumnAdapter.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/DatabaseModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManager.kt
  backend/src/main/sqldelight/migrations/V10__restructure_issue_and_focus.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/FocusIssue.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/LcvLifetimeScore.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/LcvYearScore.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/TestContainerProvider.kt
Due: migrate-production-database

Only select currently serving Members of Congress
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ClockModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/CoroutineModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/findlegislator/manager/DatabaseMemberOfCongressManager.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/MemberOfCongress.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/findlegislator/manager/DatabaseMemberOfCongressManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Only select currently serving Members of Congress (#339)
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ClockModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/CoroutineModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/findlegislator/manager/DatabaseMemberOfCongressManager.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/MemberOfCongress.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/findlegislator/manager/DatabaseMemberOfCongressManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Make `first_name`, `last_name`, and `term_end` not null
  backend/src/main/sqldelight/migrations/V11__not_null_MoC_columns.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/MemberOfCongress.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: migrate-production-database

Make `first_name`, `last_name`, and `term_end` not null (#334)
  backend/src/main/sqldelight/migrations/V11__not_null_MoC_columns.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/MemberOfCongress.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: migrate-production-database

Update Members of Congress
  congress/active-offices.json
  congress/legislators-current.json
  congress/legislators-district-offices.json
  congress/legislators-social-media.json
  congress/update.sh
Due: update-members-of-congress-dry-run, update-members-of-congress, update-district-offices-dry-run, update-district-offices

set e
  congress/update.sh
Due: none

Update Members of Congress (#341)
  congress/active-offices.json
  congress/legislators-current.json
  congress/legislators-district-offices.json
  congress/legislators-social-media.json
  congress/update.sh
Due: update-members-of-congress-dry-run, update-members-of-congress, update-district-offices-dry-run, update-district-offices

Update Member of Congress
  .gitlab-ci.yml
  congress/legislators-current.json
  congress/legislators-district-offices.json
Due: update-members-of-congress-dry-run, update-members-of-congress, update-district-offices-dry-run, update-district-offices

Update Members of Congress (#342)
  .gitlab-ci.yml
  congress/legislators-current.json
  congress/legislators-district-offices.json
Due: update-members-of-congress-dry-run, update-members-of-congress, update-district-offices-dry-run, update-district-offices

Add time logging to issue controller
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/controller/IssueListController.kt
Due: none

Add time logging to issue controller (#344)
  backend/src/main/kotlin/org/climatechangemakers/act/feature/issue/controller/IssueListController.kt
Due: none

Update phone number
  congress/legislators-current.json
Due: update-members-of-congress-dry-run, update-members-of-congress

Update to Kotlin 1.7.10, SQLDelight 2.0.0-alpha03
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/findlegislator/manager/DatabaseDistrictOfficeManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/lcvscore/manager/DatabaseLcvScoreManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Update to Kotlin 1.7.10, SQLDelight 2.0.0-alpha03 (#350)
  backend/build.gradle.kts
  backend/gradle/libs.versions.toml
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/findlegislator/manager/DatabaseDistrictOfficeManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/issue/manager/DatabaseIssueManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/lcvscore/manager/DatabaseLcvScoreManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/util/SqlDriverExtensions.kt
Due: none

Remove backend mailchimp integration
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Environment.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Qualifiers.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ServiceModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/controller/ActionController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/ActionTrackerManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/manager/EmailEnrollmentManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/manager/MailchimpEmailEnrollmentManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/model/EnrollMemberRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/service/MailchimpService.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManager.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ActionInitiate.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/FakeActionTrackerManager.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/email/manager/FakeEmailEnrollmentManager.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/email/manager/MailchimpEmailEnrollmentManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/email/service/FakeMailchimpService.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManagerTest.kt
  cloudformation/public-subnet-public-loadbalancer.yml
  docker-compose.yml
Due: none

Sync development DB schema with production
  database/ccm_schema.sql
Due: none

Sync development DB schema with production (#352)
  database/ccm_schema.sql
Due: none

Remove opt into info emails
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/model/InitiateActionRequest.kt
Due: none

Remove email consent and join community form
  frontend/package-lock.json
  frontend/src/Pages/TakeAction/AllDone/JoinMission.tsx
  frontend/src/Pages/TakeAction/ScrollSpy/ScrollSpy.tsx
  frontend/src/Pages/TakeAction/TakeActionPage.tsx
  frontend/src/Pages/Welcome/WelcomePage.tsx
  frontend/src/common/api/ClimateChangemakersAPI.ts
  frontend/src/common/hooks/useMembershipInfo.ts
  frontend/src/common/models/FormInfo.ts
Due: none

Remove backend mailchimp integration (#351)
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Environment.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Qualifiers.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ServiceModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/controller/ActionController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/ActionTrackerManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/model/InitiateActionRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/manager/EmailEnrollmentManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/manager/MailchimpEmailEnrollmentManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/model/EnrollMemberRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/email/service/MailchimpService.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManager.kt
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ActionInitiate.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/FakeActionTrackerManager.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/email/manager/FakeEmailEnrollmentManager.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/email/manager/MailchimpEmailEnrollmentManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/email/service/FakeMailchimpService.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManagerTest.kt
  cloudformation/public-subnet-public-loadbalancer.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/Pages/TakeAction/AllDone/JoinMission.tsx
  frontend/src/Pages/TakeAction/ScrollSpy/ScrollSpy.tsx
  frontend/src/Pages/TakeAction/TakeActionPage.tsx
  frontend/src/Pages/Welcome/WelcomePage.tsx
  frontend/src/common/api/ClimateChangemakersAPI.ts
  frontend/src/common/hooks/useMembershipInfo.ts
  frontend/src/common/models/FormInfo.ts
Due: none

Remove AirTable integration
  backend/src/main/kotlin/org/climatechangemakers/act/common/util/Util.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Environment.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Qualifiers.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ServiceModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/controller/MembershipController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/manager/MembershipManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/AirtableCreateRecordRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/AirtableResponse.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/CheckMembershipRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/CheckMembershipResponse.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/SignUpRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/routing/MembershipRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/service/AirtableFormula.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/service/AirtableService.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/test/kotlin/org/climatechangemakers/act/common/util/WithRetryTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/membership/service/FakeAirtableService.kt
Due: none

Remove all references to AirTable
  cloudformation/public-subnet-public-loadbalancer.yml
  docker-compose.yml
Due: none

Remove AirTable integration (#354)
  backend/src/main/kotlin/org/climatechangemakers/act/common/util/Util.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ApiComponent.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/BindingModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Environment.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/Qualifiers.kt
  backend/src/main/kotlin/org/climatechangemakers/act/di/ServiceModule.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/controller/MembershipController.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/manager/MembershipManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/AirtableCreateRecordRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/AirtableResponse.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/CheckMembershipRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/CheckMembershipResponse.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/model/SignUpRequest.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/routing/MembershipRoutes.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/service/AirtableFormula.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/membership/service/AirtableService.kt
  backend/src/main/kotlin/org/climatechangemakers/act/plugins/Routing.kt
  backend/src/test/kotlin/org/climatechangemakers/act/common/util/WithRetryTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/membership/manager/AirtableMembershipManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/membership/service/FakeAirtableService.kt
  cloudformation/public-subnet-public-loadbalancer.yml
  docker-compose.yml
Due: none

Migrate database to remove AirTable and Mailchimp
  backend/src/main/kotlin/org/climatechangemakers/act/common/util/Util.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/ActionTrackerManager.kt
  backend/src/main/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManager.kt
  backend/src/main/sqldelight/migrations/V12__remove_mailchimp_airtable.sqm
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ActionInitiate.sq
  backend/src/main/sqldelight/org/climatechangemakers/act/database/ActionSignUp.sq
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/DatabaseActionTrackerManagerTest.kt
  backend/src/test/kotlin/org/climatechangemakers/act/feature/action/manager/FakeActionTrackerManager.kt
Due: migrate-production-database

Path conditions:
  migrate-production-database: any of: backend/src/main/sqldelight/migrations/*.sqm
  update-members-of-congress-dry-run: any of: congress/legislators-current.json, congress/legislators-social-media.json, congress/active-offices.json
  update-members-of-congress: any of: congress/legislators-current.json, congress/legislators-social-media.json, congress/active-offices.json
  update-district-offices-dry-run: any of: congress/legislators-district-offices.json
  update-district-offices: any of: congress/legislators-district-offices.json
  deploy-cloudformation-network: any of: cloudformation/public-vpc.yml
